<div class="col-sm-2">
    <img style="max-height: 150px; max-width: 150px" alt="{{file.originalName}}" src="{{file.link}}" />
    {{# if (eq postedBy userId)}}
        <span style="position: absolute" {{action 'toggleModal' file }} class="glyphicon glyphicon-remove"></span>
    {{/if}}
</div>
{{#if isShowingModal}}
    {{#modal-window close="toggleModal" toggleModal=(action "toggleModal") size="md" header="Are you sure to delete the file?"}}
        <div class="modal-footer">
            <button {{action 'submitModal'}} data-dismiss="modal" class="btn btn-primary">Ok</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'toggleModal'}}>Close</button>
        </div>
    {{/modal-window}}
{{/if}}
{{yield}}
