<h1>{{message.title}}</h1>
<p>{{{message.content}}}</p>

{{#if message.files}}
    {{#each message.files as |file|}}
        <div class="clearfix">
            <div style="float: left" >
                <img style="max-height: 100px; max-width: 100px" alt="{{file.originalName}}" src="{{file.link}}" />
                <span {{action 'deleteFile' file }}>X</span>
            </div>
        </div>
    {{/each}}
{{/if}}

<br>
    <span {{action 'likeMessage'}}>Likes: {{message.likes.length}}</span>
<br>
<br>

{{#modal-window}}
    Hello!!!!!!!!!
{{/modal-window}}


<input type="file" class="upload"/>
<img src="" class="preview" >
<button style="display: none" class="btn-upload">Upload</button>

<div>
    {{comment-item comments=message.comments message=message}}
</div>


{{yield}}
