<div class="container">
    <a href="#" class="left btn" {{action "prevPage"}}><span class="glyphicon glyphicon-menu-left"></span>prev</a>
    <a href="#" class="right btn" {{action "nextPage"}}>next<span class="glyphicon glyphicon-menu-right"></span></a>
</div>
<div role="content">
    <div class="widget-body no-padding">
        <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer">
            <div class="input-group dataTables_filter col-sm-12">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                {{input value=filter key-up=(action 'search') class='form-control' placeholder='Search'}}
            </div>
            <div class="tableWrap table-responsive">
                <table id="dt_basic"
                       class="table table-bordered table-hover dataTable no-footer has-columns-hidden users-table">
                    {{users-table-header sort=(action 'sort')}}
                    <tbody>
                        {{#each model as |user|}}
                            {{users-table-row tagName="tr" user=user}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{outlet}}
