<h2>List {{metaData.total}}</h2>
<div class="container">
    <a href="#" class="left btn" {{action "prevPage"}}>&lt; Prev</a>
    <a href="#" class="right btn" {{action "nextPage"}}> Next&gt;</a>
    <ul>
        {{#each model as |msg|}}
            {{#link-to "message" msg}}<li>{{msg.title}}</li>{{/link-to}}
            <div>{{msg.content}}</div>
            <div class="panel-footer text-right">
                {{#link-to 'messages.edit' msg class='btn btn-success btn-xs'}}Edit{{/link-to}}
                <button class="btn btn-danger btn-xs" {{action 'deleteMsg' msg}}>Delete</button>
            </div>
        {{/each}}
    </ul>
</div>
